.calculadora{

     
    .encabezado-calculadora{
        border: 1px solid #e1e1e1;
        width: 34%;
        margin:0 auto;    
        height: 39rem;
        background-color: darken($gris,20);
    }

    .result{

      background-color: $gris;
      height: 10rem;
      .flex-operator{
        display: flex;
        justify-content: space-between;
      }

      p{
        padding: 0;
      
        text-align: right;
        margin: 0 2rem;
      }
      
      .operator-,.operator-num{
        visibility: hidden;
      }
     
      
      span{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: flex-end;
        font-size: 3.5rem;
        padding: 3rem 1.7rem;
      }

    }
}


.cuerpo-calculadora{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}
.button-calc{
    padding: 2rem 4.1rem;
    border: none;
    margin: .5rem;
    background-color: $grisOscuro;
    color: white;
    width: 22%;
}